.homepage {
  margin-top: 30px;
  .homepage-disc {
    h2{
     font-size: 30px;
     text-align: center;
     margin-top: 10px;
    }
  }

  .homepage-disc-button {
    display: flex;
    flex-direction: column;

    .btn {
      margin-top: 5px;
      margin-left: 35px;
      width: 300px;
      height: 45px;
      border-radius: 0;
      font-size: 15px;
    }
  }

  .homepage-contents-jewelleries{
    margin-top: 65px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .s-assortment{
    margin-top: 10px;
  }

  .jfc{
    margin-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

