.ViewAllFilters, .Productfilter {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 15%;
  height: 600px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .reset-filter {
    color: #858585;
    font-size: 14px;
    padding: 12px 6px;

    &:hover {
      background-color: #EFEFEF
    }
  }

  .shop-by-keyword {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    .price-block {
      width: 38px;
      margin-left: 10px;
    }

    .name-btn {
      padding: 5px 11px;
      background-color: #858585;
      color: white;
      border-radius: 0;
    }

    .name-block {
      text-align: center;
      font-size: 12px;
      height: 36px;
      width: 195px;
    }
  }

  .shop-by-price{
    margin-top: 15px;
    span{
      padding: 7px 7px;
      font-size: 12px;
    }
    .price-block{
      width: 55px;
      height: 30px;
    }
    .btn{
      border: 2px solid #858585;
      height: 32px;
      width: 45px;
      font-size: 12px;
    }
  }

  .accordian{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    .accordian-content{
      border-bottom: 1px solid #858585;
      cursor: pointer;
      margin-bottom: 0px;
    }
    .card{
      border: none;
      height: 315px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .card-body{padding: 0}
  }
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}