.ViewAllFilters {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 5%;
  .reset-filter {
    color: #858585;
    font-size: 14px;
    padding: 10px 20px;

    &:hover {
      background-color: #EFEFEF
    }
  }

  .shop-by-keyword {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    .price-block {
      width: 38px;
      margin-left: 10px;
    }

    .name-btn {
      padding: 5px 11px;
      background-color: #858585;
      color: white;
      border-radius: 0;
    }

    .name-block {
      text-align: center;
      font-size: 12px;
      height: 36px;
      width: 195px;
    }
  }

  .shop-by-price{
    span{
      padding: 10px;
    font-size: 12px;

    }
    .price-block{
      width: 50px;
    }
  }
}